.header {
    background: rgb(101, 184, 212);
    border: 3px solid red;
    border-radius: 20px;

    text-align: center;
}


.tesla-text {
    color: red;
}

.category {
    color: green;
}

.model-y {
    color: rgb(255, 14, 14);
}

.model-x {
    color: rgb(245, 255, 50);
}

.model-3 {
    color: rgb(14, 233, 109);
}

.model-s {
    color: gray;
}